# mac
**/.DS_Store

# nvim
nvim/plugin/packer_compiled.lua
## base16 dynamic themes
nvim/colors/base16* 

# some tools set state in this config folder :(
configstore/*
lazygit/state.yml

# say no to submodules
zsh/work/
