# mac
**/.DS_Store

# nvim
nvim/plugin/packer_compiled.lua
## base16 dynamic themes
nvim/colors/base16* 

# some tools set state in this config folder :(
configstore/*
lazygit/state.yml
github-copilot/*
gatsby/

# say no to submodules
plugins/*/
!plugins/config

# ignore android cache
.android
