# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# [prompt]

# Inserts a blank line between shell prompts
add_newline = true

format = """
$directory\
$git_branch\
$git_status\
$git_state\
$cmd_duration\
\n\
$character\
"""

right_format = """
$nodejs\
$ruby\
$direnv\
$time
"""

# increase slow git status calls
command_timeout = 500

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "catppuccin_mocha"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

# Plugins
[fill]
symbol = '-'
style = 'surface2'

[character]
success_symbol = '[❯](bold peach)'
error_symbol = '[❯](bold red)'
vimcmd_symbol = '[❮](bold mauve)'
vimcmd_replace_one_symbol = '[❮](bold purple)'
vimcmd_replace_symbol = '[❮](bold purple)'
vimcmd_visual_symbol = '[❮](bold yellow)'

[git_status]
stashed = ''   # disable stashed count
untracked = '' # disable untracked count (can improve performance for large repositories)

[nodejs]
symbol = ''
style = 'bold green'
version_format = '${major}.${minor}'
format = '[$symbol ($version)]($style) '
detect_extensions = ['js', 'ts', 'jsx', 'tsx', 'mjs', 'cjs']

[time]
disabled = false
format = 'at [$time]($style) '
time_format = '%R'
